{% extends 'layout.html' %}

{% block body %}
      <div class="row">
        <div class="col-md-6">
          <h1 class="">Manage stuff</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Type_name</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Description</p>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="btn-group">
            <a href="#" class="btn btn-primary">Add member</a>
            <a href="#" class="btn btn-primary">Remuve member</a>
          </div>
        </div>
      <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Sort by</p>
        </div>
      </div>

    <form method="POST">
    <div class="row">
        <div class="col-md-4 input-group">
            <span class="input-group-addon">
                <input id="radio_1" type="radio" aria-checked="true"/>
            </span>
            <input class="form-control" type="text" placeholder="Search by Email">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 input-group">
            <span class="input-group-addon">
                <input id="radio_2" type="radio" aria-checked="true"/>
            </span>
            <input class="form-control" type="text" placeholder="Search by First Name">
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <button class="btn btn-primary" type="submit">Search</button>
        </div>
    </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>First name</th>
                        <th>Second name</th>
                        <th>Last name</th>
                        <th>Sport rank</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Email_1</td>
                        <td>First_name_1</td>
                        <td>Second_name_1</td>
                        <td>Last_name_1</td>
                        <td>SportRank</td>
                    </tr>
                    <tr>
                        <td>Email_2</td>
                        <td>Firts_name_2</td>
                        <td>Second_name_2</td>
                        <td>Last_name_2</td>
                        <td>SportRank</td>
                    </tr>
                    <tr>
                        <td>Email_3</td>
                        <td>First_name_3</td>
                        <td>Second_name_3</td>
                        <td>Last_name_3</td>
                        <td>SportRank</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}