{% extends 'layout.html' %}

{% block body %}
      <div class="row">
        <div class="col-md-6">
          <h1 class="">Manage stuff</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Type_name</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Description</p>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="btn-group">
            <a href="#" class="btn btn-primary">Add member</a>
            <a href="#" class="btn btn-primary">Remuve member</a>
          </div>
        </div>
      <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Sort by</p>
        </div>
      </div>
    <form method="POST" action="">
    {% from "includes/_formhelpers.html" import render_field %}
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ render_field(form.email, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.role_name, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.first_name, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.second_name, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.last_name, class_="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.sport_rank, class_="form-control") }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ render_field(form.filter_switcher) }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p><input type="submit" class="btn btn-primary" value="Submit"> <input class="btn btn-danger" type="reset" value="Reset"></p>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Role</th>
                        <th>First name</th>
                        <th>Second name</th>
                        <th>Last name</th>
                        <th>Sport rank</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for coworker in stuff %}
                    <tr>
                        <td>{{ coworker[0] }}</td>
                        <td>{{ coworker[1] }}</td>
                        <td>{{ coworker[2] }}</td>
                        <td>{{ coworker[3] }}</td>
                        <td>{{ coworker[4] }}</td>
                        <td>{{ coworker[5] }}</td>
                        <td>
                            <form  action="{{url_for('edit_user', user_email=coworker[0], code=307)}}" method="POST">
                                <input type="hidden" name="_role" value="{{ coworker[1] }}">
                                <button type="submit" class="btn btn-default pull-right">Edit</button>
                            </form>
                            <!-- <input type="hidden" name="_method" value="EDIT"> -->
                        </td>
                        <!-- <td><a href="manage_emp/edit" class="btn btn-default pull-right">Edit</a></td> -->
                        <td></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}