{% extends 'layout.html' %}

{% block body %}
      <div class="row">
        <div class="col-md-6">
          <h1 class="">Manage stuff</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Type_name</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Description</p>
          <p class="">Paragraph. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="btn-group">
            <a href="#" class="btn btn-primary">Add member</a>
            <a href="#" class="btn btn-primary">Remuve member</a>
          </div>
        </div>
      <div class="col-md-12"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Sort by</p>
        </div>
      </div>
    <div class="row">
        <form class="form-inline m-0">
            <div id="tab" class="btn-group" data-toggle="buttons-radio">
              <a href="#prices2" class="btn btn-large btn-info active" data-toggle="tab">Prices</a>
              <a href="#features2" class="btn btn-large btn-info" data-toggle="tab">Features</a>
              <a href="#requests2" class="btn btn-large btn-info" data-toggle="tab">Requests</a>
              <a href="#contact2" class="btn btn-large btn-info"  data-toggle="tab">Contact</a>
            </div>
            <div class="col-md-2">
                <input class="form-control mr-2" type="text" placeholder="Search by Email">
            </div>
            <div class="col-md-2">
                <input class="form-control mr-2" type="text" placeholder="Search by First Name">
            </div>
            <div class="col-md-2">
                <input class="form-control mr-2" type="text" placeholder="Search by Second Name">
            </div>
            <div class="col-md-2">
                <input class="form-control mr-2" type="text" placeholder="Search by Last Name">
            </div>
            <div class="col-md-2">
                <input class="form-control mr-2" type="text" placeholder="Search by Sport Rank">
            </div>
            <div class="col-md-2"><button class="btn btn-primary" type="submit">Search</button></div>
        </form>
    </div>
      <div class="row">
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Email</th>
                <th>First name</th>
                <th>Second name</th>
                <th>Last name</th>
                <th>Sport rank</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Email_1</td>
                <td>First_name_1</td>
                <td>Second_name_1</td>
                <td>Last_name_1</td>
                <td>SportRank</td>
              </tr>
              <tr>
                <td>Email_2</td>
                <td>Firts_name_2</td>
                <td>Second_name_2</td>
                <td>Last_name_2</td>
                <td>SportRank</td>
              </tr>
              <tr>
                <td>Email_3</td>
                <td>First_name_3</td>
                <td>Second_name_3</td>
                <td>Last_name_3</td>
                <td>SportRank</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
{% endblock %}