{% extends 'layout.html' %}

{% block body %}
      <div class="row">
        <div class="col-md-12">
          <h1 class="">{{ f_name }} {{ s_name }} {{ l_name }}</h1>
        </div>
      </div>
    {% if user_role == 'Admin' %}
      <div class="row">
        <div class="col-md-12">
          <p class="lead">Pool Administrator</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a href="#" class="btn btn-outline-primary">Edit profile
            <br> </a>
        </div>
      </div>
    </div>
      <div class="row">
        <div class="col-md-6 text-center">
          <p class="lead text-right">Pool's setup</p>
        </div>
        <div class="col-md-6 text-left">
          <div class="btn-group">
            <a href="#" class="btn btn-primary">Pools schedule</a>
            <a href="#" class="btn btn-primary">Open</a>
            <a href="#" class="btn btn-primary">Close</a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p class="lead text-right">Stuff setup</p>
        </div>
        <div class="col-md-6 text-left">
          <div class="btn-group">
            <a href="/manage_emp" class="btn btn-primary">Робота з персоналом</a>
            <a href="/manage_client" class="btn btn-primary">Робота з клієнтами</a>
            <a href="/manage_guest" class="btn btn-primary">Робота з гостями</a>
            <a href="#" class="btn btn-primary">Remuve Сo-workers</a>
          </div>
        </div>
      </div>
    {% elif user_role == 'Coach'%}
        <p>COACH</p>
    {% elif user_role == 'Client'%}
        <p>CLIENT</p>
    {% elif user_role == 'Guest'%}
        <p>GUEST</p>
    {% else %}
        <p>YOLO</p>
    {% endif %}
{% endblock %}